<template>
    <main class="app-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">

                        <h4><router-link to="/add-category"><i class="fa fa-plus-square"></i> Add Category</router-link></h4>

                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Sl</th>
                                <th>
                                    <select v-model="selected" @change="selecteCategoryDelete()">

                                        <option value="select" >Select</option>
                                        <option value="delete">Delete All</option>
                                    </select><br>
                                    <input type="checkbox" @click="allSelected()" v-model="allselected">
                                    <span v-if="allselected==false">Check All</span>
                                    <span v-else>Uncheck All</span>
                                </th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(category,index) in getallCategory">
                                <td>{{index+1}}</td>
                                <td>
                                    <input v-model="categoryItem" :value="category.id" type="checkbox">
                                </td>
                                <td>{{category.cat_name}}</td>
                                <td>{{category.created_at | timeFormate}}</td>
                                <!--<td><a href=""  ><i class="fa fa-lg fa-edit"></i> Edit</a></td>-->
                                <td><router-link :to="`/category/${category.id}/edit`">Edit</router-link></td>
                                <td><a href=""  @click.prevent="categoryDelete(category.id)"> <i class="fa fa-lg fa-trash"></i> Delete</a></td>


                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import axios from 'axios'
    export default {
        data()
        {
            return{
                categoryItem:[],
                selected:'select',
                allselected:false,



        }
        },
        mounted() {
            this.$store.dispatch("allCategory")
        },
       computed:{
           getallCategory()
           {

               return this.$store.getters.getCategory

           }
       },
        methods:{
            categoryDelete(id){
                axios.delete('/category/'+id)
                    .then(()=>{

                        this.$store.dispatch("allCategory")
//                        toast({
//                            type: 'success',
//                            title: 'Category Delete successfully'
//                        })

                    });

            },
            selecteCategoryDelete()
            {


                axios.get('/selected/category/delete/'+this.categoryItem)
                    .then((response)=>{
                        this.$store.dispatch("allCategory");
                        this.categoryItem=[];
                        swal.fire({
                            type: 'success',
                            title: response.data.message,
                        });

                        this.selected='select';


                    });
            },
            allSelected()
            {

                if(this.allselected==false)
                {

                    let data=this.getallCategory;

                    let x;

                    for (x of data) {
                        this.categoryItem.push(x.id);
                    }

                }
                else{
                   this.allselected=false;
                   this.categoryItem=[];
                }





            }
        }
    }
</script>