<template>
    <main class="app-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">

                        <h4><router-link to="/post/create"><i class="fa fa-plus-square"></i>Add Post</router-link></h4>

                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Sl</th>
                                <th>User</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Photo</th>
                                <th>date</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(post,index) in getallPost">
                                <td>{{index+1}}</td>
                                <td>{{post.user_id}}</td>
                                <td>{{post.cat_id}}</td>
                                <td>{{post.title}}</td>
                                <td>{{post.description}}</td>
                                <td><img :src="ourImage(post.photo)"/></td>
                                <td>{{post.created_at | timeFormate}}</td>
                                <!--<td><a href=""  ><i class="fa fa-lg fa-edit"></i> Edit</a></td>-->
                                <td>Edit</td>
                                <td><a href="" @click.prevent="deletePost(post.id)"> <i class="fa fa-lg fa-trash"></i> Delete</a></td>


                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import axios from 'axios'
    export default {
        mounted() {
            this.$store.dispatch("allPost")
        },
       computed:{
           getallPost()
           {

               return this.$store.getters.getPosts;

           }
       },
        methods:{
            ourImage(img)
            {
                return "uploadimage/"+img;
            },
            deletePost(id)
            {
                axios.delete("/post/"+id)
                    .then((response)=>
                        {
                            this.$store.dispatch("allPost")
                            swal.fire({
                                type: 'success',
                                title: response.data.message,
                            })
                        }
                    );
            }

        }
    }
</script>