<template>
    <span id="blogpost">
          end header
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Blog left sidebar </h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><router-link to="/"><i class="icon-home"></i></router-link><i class="icon-angle-right"></i></li>
              <li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
              <li class="active">Blog with left sidebar {{this.$route.params.id}}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span8">


            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3><a href="#">{{singlePost.title}}</a></h3>
                    </div>
                    <img :src="`uploadimage/${singlePost.photo}`" alt="" />
                  </div>
                  <p>
                   {{singlePost.description}}
                  </p>
                  <div class="bottom-article">
                    <ul class="meta-post">
                      <li><i class="icon-calendar"></i><a href="#">{{singlePost.created_at | timeFormate}}</a></li>
                      <li v-if="singlePost.user"><i class="icon-user"></i><a href="#">{{singlePost.user.name}}</a></li>
                      <li v-if="singlePost.category"><i class="icon-folder-open"></i><a href="#"> {{singlePost.category.cat_name}}</a></li>
                      <li><i class="icon-comments"></i><a href="#">4 Comments</a></li>
                    </ul>
                    <router-link :to="`/singlepost/${singlePost.id}`" class="pull-right">Continue reading <i class="icon-angle-right"></i></router-link>
                  </div>
                </div>
              </div>
            </article>

            <div id="pagination">
              <span class="all">Page 1 of 3</span>
              <span class="current">1</span>
              <a href="#" class="inactive">2</a>
              <a href="#" class="inactive">3</a>
            </div>
          </div>

         <BlogSidebar/>
        </div>
      </div>
    </section>

    

    </span>
</template>



<script type="text/javascript">
   import BlogSidebar from "./BlogSidebar.vue"

    import _ from 'lodash'
    export default {
        components:{
            BlogSidebar
        },
        data(){
            return {
                keyword:'',

            }
        },
        computed:{
            singlePost()
            {
                return this.$store.getters.singlePost;
            }
        },
        methods:{
            singlepost(){
                this.$store.dispatch('singlepost',this.$route.params.id);
            }
        },
        mounted(){
            this.singlepost();

        },
        watch:{
            $route(to,from){
                this.singlepost();
            }
        }
    }
</script>